<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="/stying/home.css">
    <script src="/function/home.js" defer></script>
</head>

<body>

<div class="container">

  <div class="title">Tic Tac Toe</div>

  <div class="players">

    <!-- PLAYER X -->
    <div class="player">
      <h3>Player</h3>
      <div class="icon x">X</div>

      <div class="time-labels">
        <span>Min</span>
        <span>Sec</span>
      </div>

      <div class="time-input">
        <input type="number" placeholder="Min" min="0" max="5" step="1">
        <input type="number" placeholder="Sec" min="0" max="59" step="1">
      </div>

      <div class="sub-label">Minutes / Seconds</div>
    </div>

    <!-- PLAYER O -->
    <div class="player">
      <h3>Player</h3>
      <div class="icon o">O</div>

      <div class="time-labels">
        <span>Min</span>
        <span>Sec</span>
      </div>

      <div class="time-input">
        <input type="number" placeholder="Min" min="0" max="5" step="1">
        <input type="number" placeholder="Sec" min="0" max="59" step="1">
      </div>

      <div class="sub-label">Minutes / Seconds</div>
    </div>

  </div>

  <button class="start-btn" id="starter">Start Game</button>

  <div class="footer">Enter your time & play ❌</div>

</div>

</body>
</html>